name: Build

on:
  push:
    branches: [ "**" ]

jobs:
  build-bookmarks-api:
    name: Build bookmarks api
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn verify

      - if: ${{github.ref == 'ref/heads/main'}}
        name: Build and publish docker image
        run:
          mvn spring-boot:build-image
          docker login -u ${{secrets.DOCKER_USERNAME}} -P ${{secrets.DOCKER_NICKNAME}}
          docker push ${{secrets.DOCKER_USERNAME}}/bookmarker-api
